<nav class="navbar navbar-expand bg-primary navbar-dark" *ngIf="currentUser">
  <ul class="navbar-nav">
    <li class="nav-item nav-link" routerLink="/">Home</li>
    <li class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin-Home</li>
    <li class="nav-item nav-link btn" (click)="logout()">Logout</li>
  </ul>
</nav>

<!--Login Container-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
